<div class="container">
	<div class="row">
		<div class="card col-md mx-3">
			<div class="card-body">
				<h5 class="card-title">Reminders</h5>
				<ul class="list-group">
					{{#each announcements}}
						<li class="list-group-item">{{this}}</li>
					{{/each}}
				</ul>
			</div>
		</div>

		<div class="card col-md mx-3" id="club-information">
			<div class="card-body">
				<h5 class="card-title">Club Information</h5>
				<ul class="list-group">
					{{#each info}}
						<li class="list-group-item">
							<strong>{{@key}}:</strong> {{this}}
						</li>
					{{/each}}
				</ul>
				<a href="#" class="btn btn-raised btn-secondary">E-Commerce Scan In</a>
				<a href="#" class="btn btn-raised btn-secondary">Edit</a>
			</div>
		</div>
	</div>

	{{#each accounts}}
		<div class="jumbotron">
			<h1 class="display-4">{{this.name}}</h1>
			<p class="lead">Current Balance: {{this.balance}}</p>
			<p class="lead">
				<a class="btn btn-raised btn-primary btn-lg" href="{{this.bankHref}}" role="button">Banking</a>
				<a class="btn btn-raised btn-primary btn-lg" href="{{this.storeHref}}" role="button">Online Store</a>
			</p>
		</div>
	{{/each}}

	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Board Members Registered With BOSO</h5>
			<table class="table table-hover">
				<thead class="thead-light">
					{{#each individuals.headers}}
						<th scope="col">{{this}}</th>
					{{/each}}
				</thead>
				<tbody>
					{{#each individuals.content}}
						<tr>
							{{#each this}}
								<td>{{this}}</td>
							{{/each}}
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>

	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Payees</h5>
			<div class="btn-toolbar" role="toolbar" aria-label="Buttons">
				<div class="btn-group mr-2" role="group" aria-label="Add">
					<button type="button" class="btn btn-secondary bmd-btn-icon">
						<i class="fal fa-plus"/>
					</button>
				</div>
				<div class="btn-group mr-2" role="group" aria-label="Export">
					<button type="button" class="btn btn-secondary bmd-btn-icon">
						<i class="fal fa-file-pdf"/>
					</button>
					<button type="button" class="btn btn-secondary bmd-btn-icon">
						<i class="fal fa-file-word"/>
					</button>
					<button type="button" class="btn btn-secondary bmd-btn-icon">
						<i class="fal fa-file-excel"/>
					</button>
					<button type="button" class="btn btn-secondary bmd-btn-icon">
						<i class="fal fa-file-alt"/>
					</button>
				</div>
				<div class="btn-group mr-2" role="group" aria-label="Add">
					<button type="button" class="btn btn-secondary bmd-btn-icon">
						<i class="fal fa-sync"/>
					</button>
					<button type="button" class="btn btn-secondary bmd-btn-icon">
						<i class="fal fa-filter"/>
					</button>
				</div>
			</div>
			<table class="table table-hover">
				<thead class="thead-light">
					{{#each payees.headers}}
						<th scope="col">{{this}}</th>
					{{/each}}
				</thead>
				<tbody>
					{{#each payees.content}}
					<tr>
						{{#each this}}
							<td>{{this}}</td>
						{{/each}}
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>

	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Documents</h5>
			<div class="btn-toolbar" role="toolbar" aria-label="Buttons">
				<div class="btn-group mr-2" role="group" aria-label="Add">
					<button type="button" class="btn btn-secondary bmd-btn-icon">
						<i class="fal fa-plus"/>
					</button>
					<button type="button" class="btn btn-secondary bmd-btn-icon">
						<i class="fal fa-edit"/>
					</button>
					<button type="button" class="btn btn-secondary bmd-btn-icon">
						<i class="fal fa-trash"/>
					</button>
				</div>
				<div class="btn-group mr-2" role="group" aria-label="Add">
					<button type="button" class="btn btn-secondary bmd-btn-icon">
						<i class="fal fa-sync"/>
					</button>
					<button type="button" class="btn btn-secondary bmd-btn-icon">
						<i class="fal fa-filter"/>
					</button>
				</div>
			</div>
			<table class="table table-hover">
				<thead class="thead-light">
					{{#each documents.headers}}
						<th scope="col">{{this}}</th>
					{{/each}}
				</thead>
				<tbody>
					{{#each documents.content}}
						<tr>
							{{#each this}}
								<td>{{this}}</td>
							{{/each}}
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>